.header {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  padding: 75px 0 56px
}

@media screen and (max-width: 1240px) {
  .header {
      justify-content:center
  }
}

.header-me {
  display: flex
}

.header-me-role {
  opacity: .25
}

.header-nav {
  display: flex
}

@media screen and (max-width: 1240px) {
  .header-nav {
      display:none
  }
}

.header-nav li:not(:last-child) {
  margin-right: 36px
}

.header-nav-item {
  color: #ffffff40;
  transition: .45s cubic-bezier(.6,.6,0,1) color
}

.header-nav-item:hover {
  color: #fff6
}

img{
  width: 40px;
  height: 40px;
}
