<div class="container">
  <div id="create-log">
    <div class="row heading">
      <h4>Create Log</h4>
    </div>
    <div class="row">
      <form (ngSubmit)="createLog(formData)" #createForm="ngForm">
        <div class="row">
          <div class="col">
            <label for="title">Title</label>
            <input type="text" class="form-control" placeholder="Enter Title" name="title" id="title" [(ngModel)]="formData.title" required>
          </div>
          <div class="col">
            <label for="description">Description</label>
            <input type="text" class="form-control" placeholder="Enter Description" name="description" id="description" [(ngModel)]="formData.description" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="time">Time</label>
            <input type="time" class="form-control" [(ngModel)]="formData.time" name="time" id="time" required>
          </div>
          <div class="col">
            <label for="date">Date</label>
            <input type="date" class="form-control" [(ngModel)]="formData.date" name="date" id="date" required>
          </div>
        </div>
        <div class="button">
          <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
