<div class="container">
  <div id="logs-list">
    <div class="row heading">
      <h4>Logs List</h4>
    </div>
    <div class="row">
      <table class="table table-dark  table-hover">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <td>
              <a>{{log.title}}</a>
            </td>
            <td>{{log.date}}</td>
            <td>{{log.time}}</td>
            <td class="delete"><i class="fas fa-trash"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
